# OS / editor
.DS_Store
.vscode/
.idea/

# Python / pre-commit
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
.pre-commit/

# Terragrunt / Terraform (VERY IMPORTANT)
**/.terragrunt-cache/
**/.terragrunt*
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**.terraform.lock.hcl
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Node (repo-wide safety)
**/node_modules/
**/dist/
**/build/
