name: tg-deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - "infra/**"
      - ".github/workflows/**"
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

concurrency:
  group: tg-deploy-dev
  cancel-in-progress: false

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/env/dev

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - uses: gruntwork-io/terragrunt-install@v1
        with:
          terragrunt_version: "0.95.1"

      - name: Terragrunt apply (all)
        run: terragrunt run --all apply --terragrunt-non-interactive -- -auto-approve
