name: tg-destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type DESTROY to confirm'
        required: true
        default: ''

permissions:
  id-token: write
  contents: read

concurrency:
  group: tg-destroy-dev
  cancel-in-progress: false

jobs:
  destroy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/env/dev

    steps:
      - name: Safety check
        run: |
          if [ "${{ github.event.inputs.confirm }}" != "DESTROY" ]; then
            echo "Confirmation missing. Type DESTROY to run."
            exit 1
          fi

      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - uses: gruntwork-io/terragrunt-install@v1
        with:
          terragrunt_version: "0.95.1"

      - name: Terragrunt destroy (all)
        run: terragrunt run --all destroy --terragrunt-non-interactive -- -auto-approve
