name: tg-plan

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "infra/**"
      - ".github/workflows/**"

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/live/env/dev

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.3"

      - uses: gruntwork-io/terragrunt-install@v1
        with:
          terragrunt_version: "0.95.1"

      - name: Terragrunt plan (all)
        run: terragrunt run --all plan --terragrunt-non-interactive
